[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ALDqr"]
	path = ALDqr
	url = https://github.com/lbenitesanchez/aldqr
[submodule "FMsmsnReg"]
	path = FMsmsnReg
	url = https://github.com/lbenitesanchez/fmsmsnreg
[submodule "ssmn"]
	path = ssmn
	url = https://github.com/lbenitesanchez/ssmn
[submodule "ssmsn"]
	path = ssmsn
	url = https://github.com/lbenitesanchez/ssmsn
